*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

body{
    background-color: rgb(203, 134, 245);
}

main{
    background-color: white;
    width: 500px;
    padding: 8px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}